@import "src/fonts&colors/fonts&colors";

.Container {
  width: 80%;
  margin: 0 auto;
}

.Form__header {
  margin-top: 8em;
}

.Form {
  //width: 100%;
  //height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 1em;


  &__title {
    font-family: $headingsFont;
    font-size: calc(1.5 * $headingsFontSize);
    font-weight: 300;
    letter-spacing: 0.3em;
    color: $white;

  }

  &__description {
    font-family: $headingsFont;
    font-size: $headingsFontSize;
    text-align: justify;
    font-weight: 300;
    letter-spacing: 0.1em;
    line-height: 1.2em;
    color: $white;
    margin-top: 2em;
  }

  &__info {
    font-family: $headingsFont;
    font-size: $primaryFontSize;
    font-weight: 700;
    letter-spacing: 0.1em;
    line-height: 1.2em;
    color: $white;
    margin-top: 2em;
  }


  &__contact {
    display: flex;
    flex-direction: column;
    gap: 1em;
    //justify-content: space-between;
    //gap: 1em;
    //margin-top: 4em;
    //margin-right: 20em;
    //margin-left: 20em;

  }

  &__questions {
    display: flex;
    flex-direction: column;
    //margin-right: 20em;
    //margin-left: 20em;

  }

  &__button {
    width: 25%;
    //margin-left: 24em;
    margin-top: 1em;
    font-family: $headingsFont;
    font-size: $primaryFontSize;
    color: $white;
    background: $darkGreen;
    border: 0.1em solid $white;
    padding: 0.3em;
    letter-spacing: 0.1em;


    &:hover {
      color: $darkGreen;
      font-weight: 700;
      background: $white;
    }
  }

  &__input {
    border: $white;

    &:focus {
      border: 0.2em solid $darkGrey;
    }
  }

  &__input__q {
    border: $darkGreen;
  }

  &__error {
    width: 80%;
    margin-top: 1em;
    font-family: $headingsFont;
    font-size: $paragraphsFont;
    color: $white;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 0.2em;
    margin-bottom: 1em;
    padding: 1em;
    text-align: center;
    background-color: $darkGrey;

  }
}

::-webkit-input-placeholder {
  font-family: $paragraphsFont;
  padding-top: 0.5em;
}













