@import 'src/fonts&colors/fonts&colors';

.EmotionButtons {
  width: 9em;
  height: 2em;
  margin-top: 9em;
  color: $white;
  background-color: $darkViolet;
  border: none;
  border-radius: 2em;
  font-family: $headingsFont;
  font-size: $primaryFontSize;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  padding-top: 0.2em;


  &:hover {
    transform: scale(1.1);
  }

}

.EmotionsContainer {
  width: 100% vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;

}