@import "src/fonts&colors/fonts&colors";


.Home {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 25%));

  &__img1,
  &__img2,
  &__img3,
  &__img4 {
    height: 100vh;
    background-size: cover;
    position: relative;
  }

  &__img1 {
    background-image: url("./Img/girl-2987578_1920.jpg");
  }

  &__img2 {
    background-image: url("./Img/book-5174879_1920.jpg");
  }

  &__img3 {
    background-image: url("./Img/woman-3758052_1920.jpg");
  }

  &__img4 {
    background-image: url("./Img/young-woman-775342_1920.jpg");
  }


  &__button1,
  &__button2,
  &__button3,
  &__button4 {
    position: absolute;
    top: 80%;
    left: 10%;
    font-family: $headingsFont;
    font-size: calc(1.6 * $headingsFontSize);
    font-weight: 200;
    color: $white;
    text-decoration: none;
    border-top: 0.01em solid $white;
    padding: 0.3em;
    text-align: center;
    width: 80%;

    &:hover {
      transform: scale(1.1);
    }
  }
}


