@import "src/fonts&colors/fonts&colors";

.Notes {
  margin-top: 10em;

  @media (max-width: 768px) {
   margin-top: 15em;
  }

  &__header {
    font-family: $headingsFont;
    font-size: calc(1.5 * $headingsFontSize);
    font-weight: 200;
    color: $white;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    text-align: center;
  }
}

.Note {
  width: 80%;
  background: $white;
  padding: 2em;
  border: 0.1em solid $white;
  margin: 2em auto;
  //border-radius: 1em;

  &__title {
    font-family: $headingsFont;
    font-size: calc(1.5 * $headingsFontSize);
    font-weight: 200;
    color: $darkGrey;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    margin-bottom: 0.5em;
  }

  &__description {
    font-family: $paragraphsFont;
    font-size: $primaryFontSize;
    font-weight: 300;
    color: $darkGrey;
  }

  &__button {

    &__edit {
    width: 6em;
    font-family: $headingsFont;
    font-size: $primaryFontSize;
    font-weight: 300;
    color: $darkGreen;
    text-transform: uppercase;
    text-align: center;
    padding: 0.5em;
    margin-top: 1.5em;
    border: 0.1em solid $darkGreen;

      &:hover {
        font-weight: 700;
        color: $white;
        background: $darkGreen;
        transform: scale(1.1);
      }
    }



    &__delete {
      width: 6em;
      font-family: $headingsFont;
      font-size: $primaryFontSize;
      font-weight: 300;
      color: $darkGreen;
      text-transform: uppercase;
      padding: 0.5em;
      margin-top: 1.5em;
      margin-right: 1em;
      border: 0.1em solid $darkGreen;

      &:hover {
        font-weight: 700;
        color: $white;
        background: $darkGreen;
        transform: scale(1.1);
      }

    }

  }
}

