@import "src/fonts&colors/fonts&colors";


.wrapper {

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12em, 16em));
  gap: 2rem;
  justify-content: center;
}

.Card {

  width: 100%;
  overflow: hidden;
  //box-shadow: 0 2px 20px lightgray;
  //background-color: $lightPink;
  //border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  transition: transform 200ms ease-in;
  text-decoration: none;
  //background-color: $darkGrey;

  &__image{
    padding-top: 2em;
    height: 12em;
    width: 100%;
    object-fit: cover;
  }

  &__title {
    padding-top: 1em;
    padding-bottom: 1em;
    font-family: $headingsFont;
    font-size: calc( 1.2 * $headingsFontSize);
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: 0.4em;
    text-align: center;
    border-bottom: .03em solid $darkGrey;

  }

  &__description {

    padding: 1em;
    font-family: $paragraphsFont;
    font-size: calc( 0.75 * $primaryFontSize);
    font-weight: 300;
    text-align: justify;
    line-height: 1.5em;

  }

  &__btn {
    padding: 1em;
    font-family: $headingsFont;
    font-weight: 700;
    font-size: calc( 0.75 * $primaryFontSize);
    text-transform: uppercase;
    margin-top: 1em;
    border: 2px solid $darkGreen;
    background: transparent;
    color: $darkGreen;
    border-radius: 0.5em;
    transition: background 200ms ease-in, color 200ms ease-in;
    text-decoration: none;
    text-align: center;
    letter-spacing: 0.1em;

  &:hover {
    background-color: $darkGreen;
    color: $white;

  }
  }

  &:hover {
    transform: scale(1.02);
  }



}