$headingsFont: 'Hind', sans-serif;
$paragraphsFont: 'Monserrat', sans-serif;
$primaryFontSize: 1em;
$headingsFontSize: 1.25em;
$darkGrey: #2D2027;
$darkBlue: #232650;
$darkViolet: #533655;
$lightPink: #D5C5C0;
$veryLightPink: #E9D7F0;
$darkGreen: #2B6F62;
