$headingsFont: 'Hind', sans-serif;
$paragraphsFont: 'Monserrat', sans-serif;
$primaryFontSize: 1em;
$headingsFontSize: 1.25em;
$darkGrey: #120e19;
$grey: #251d32;
$darkViolet: #533655;
$lightPink: #d5d3d8;
$white: #FFFFFF;
$darkGreen: #2B6F62;
