$headingsFont: 'Karla', sans-serif;
$paragraphsFont: 'Inconsolata', monospace;
$primaryFontSize: 1em;
$headingsFontSize: 1.25em;
$darkGrey: #333333;
$grey: #333333;
$darkViolet: #533655;
$lightPink: #d5d3d8;
$white: #FFFFFF;
$darkGreen: #96a99c;
